*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#6a96d8;
    --time-color: #adafb2;
    --text-1-color: #e6edf6;
    --text-2-color: #f2f2f2;
    --text-3-color: #e6edf6;
    --text-4-color: #ffc2c1;
    --text-5-color: #cbcaca;
    --hr-color: #e5e5e5;
    --send-color: #6a96d8;
}

body{
    background-color: #96b4cc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    font-family: sans-serif;
}


.main{
    background-color: white;
    width: 360px;
    height: 380px;
    position: relative;
    padding: 10px;
}


/*Header*/
.close{
    margin:0 10px 0 47px ;
}


.dot{
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin: 0 10px 0 19px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    position: absolute;
    width: 360px;
    height: 48px;
    top: -48px;
    right: 0;
}

.mark{
    margin-right:auto;
    color: white;
}

.moment{
    position: relative;
    margin: 10px;
    font-size: 10px;
    color: #adafb2;
}

.time{
    color: #adafb2;
    font-size: 10px;
    padding: 10px;
    width: max-content;
    max-width: 100%;
}

.chat-text{
     width: max-content;
     max-width: 80%;
     background-color: #e6edf6;
     padding: 10px;
     border-radius: 5px;
}

.right-block{
    margin-left: auto;
    background-color: #ffc2c1;
}

.right{
    margin-left:auto;
}

.right-time{
    margin-left: auto;
}

.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up-line{
    width: 135px;
}

.down-line{
    margin: 15px 5px 15px 5px;
    color: #e5e5e5;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter{
    font-size: 15px;
    color: var(--text-5-color);
}

.send{
    color: var(--send-color);
    font-weight: 700;
    letter-spacing: 2px;
}