*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#6a96d8;
    --time-color: #adafb2;
    --text-1-color: #e6edf6;
    --text-2-color: #f2f2f2;
    --text-3-color: #e6edf6;
    --text-4-color: #ffc2c1;
    --text-5-color: #cbcaca;
    --hr-color: #e5e5e5;
    --send-color: #6a96d8;
}

body{
    background-color: #96b4cc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    font-family: sans-serif;
}

.container{
    display:flex ;
    align-items: center;
    justify-content: center;
}

.main{
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 395px;
}

/*HR part*/
.hr-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-1{
    background-color:var(--hr-color);
    width: 125px;
    margin: 20px 5px 10px 20px;
}

.center-2{
    background-color:var(--hr-color);
    width: 125px;
    margin: 18px 15px 10px 5px;
}

.center-3{
    margin: 15px 15px 0 15px;
}

.moment{
    font-size: 10px;
    color: #adafb2;
    margin: 15px 0 5px 0;
}

/*Header*/
.close{
    margin:0 10px 0 47px ;
}


.dot{
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin: 0 10px 0 19px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.mark{
    margin: 15px 94px 15px 0;
    color: white;
}

/*TIME*/
.time-1{
    margin: 18px 0 5px 20px;
    font-size: 2px;
    color: var(--time-color);
}

.time-2{
    margin: 5px 0 5px 299px;
    font-size: 2px;
    color: var(--time-color);
}

.time-3{
    margin: 18px 0 5px 20px;
    font-size: 2px;
    color: var(--time-color);
}

/*Chats*/
.text-1{
    background-color: var(--text-1-color);
    margin: 4px 8px 10px 20px;
    padding: 10px;
    width: 226px;
    font-size: 2px;
    border-radius: 0 5px 5px 5px;
}

.text-2{
    background-color: var(--text-2-color);
    margin: 4px 19px 7px 97px;
    padding: 10px;
    width: 236px;
    font-size: 2px;
    border-radius: 5px 0 5px 5px;
}

.text-3{
    background-color: var(--text-3-color);
    margin: 4px 5px 7px 20px;
    padding: 10px;
    width: 75px;
    font-size: 2px;
    border-radius: 0 4px 5px 5px;
}

.text-4{
    background-color: var(--text-4-color);
    margin: 4px 19px 7px 168px;
    padding: 10px;
    width: 164px;
    font-size: 2px;
    border-radius: 5px 0 5px 5px;
}


/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-5{
    margin: 17px 180px 15px 19px;
    font-size: 12px;
    color: var(--text-5-color);
}

.send{
    color: var(--send-color);
    margin: 5px 13px 5px -20px;
    font-weight: 700;
    letter-spacing: 2px;
}